/*contacto*/

.contact {
  background: #f7f7f7;
}

.contact form {
    margin-top: $h2 + $h2;
}

.contact form input,
.contact form textarea {
    margin-top: $h2;
}

/* forms */

label {
    font-weight: normal;
}

.form-control {
    height: $h2 - 4px;
    padding: $size20px - 14px $size20px - 8px;
    font-size: $size20px - 4px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    border: 1px $solido #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: $color-magenta;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232, 25, 95, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232, 25, 95, 0.6);
}

.form-control::-moz-placeholder {
      color: #999999;
      opacity: 1;
}


.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eeeeee;
}

.form-group {
    margin-bottom: $size20px;
}
