/*progressbar*/

.progress-title {
    text-align: left;
    font-weight: $weight300;
    text-transform: $mayuscula;
}

.progress-bar-skill1 {
    background-color: #d1d1d1;
    background-color: $color-magenta;
}

.progress-bar-skill2 {
    background-color: #c8c7c7;
    background-color: #f25c96;
}

.progress-bar-skill3 {
    background-color: #bdbdbd;
    background-color: #e8a3bd;
}

.progress-bar-skill4 {
    background-color: #b3b2b2;
    background-color: #edc3d3;
}

.progress-bar-skill5 {
    background-color: #a9a8a8;
    background-color: #ea92b4;
}