$color-naranja:'#ff7b21';
$font-weightbody: normal;
$solid: solid;
$transparent: transparent;
$mayuscula: uppercase;
$bold: bold;
$cienxciento: 100%;
$color-magenta:#e8195f;
$solido: solid;
$h2: 40px;
$centro: center;
$relative: relative;
$hidden: hidden;
$weight400: 400;
$responsive-font: 25px;
$weight100:100;
$absolute: absolute;
$size20px: 20px;
$weight300: 300;
$cover: cover;